# --- SEGURANÇA DJANGO ---
DJANGO_SECRET_KEY=have_secreta
DEBUG=
# Hosts permitidos (separados por vírgula em prod)
ALLOWED_HOSTS=localhost,127.0.0.1

# --- BANCO DE DADOS (MongoDB/MongoEngine) ---
MONGO_DB_NAME=
MONGO_HOST=
MONGO_PORT=
MONGO_USER=
MONGO_PASSWORD=

REDIS_URL=
REDIS_PASSWORD=

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

JWT_SECRET_KEY=

OPENAI_API_KEY=
GEMINI_API_KEY=

CORS_ALLOWED_ORIGINS=http://localhost

ZAPI_SECURITY_TOKEN=
ZAPI_INSTANCE_ID=
ZAPI_TOKEN=

PHONES_FOR_VALIDATION=